html {
    scroll-behavior: smooth;
}

:root {
    color-scheme: dark;
    --standard-border-radius: 10px;
    --bg: #13131a;
    --accent-bg: #20202e;
    --text: #dcdcdcd8;
    --text-light: #ababab;
    --accent: #9291ca;
    --marked: white;
    --accent-hover: #bdbbff;
    --accent-text: var(--bg);
    --code: #ffffff;
    --preformatted: #adadad;
    --disabled: #111;
}

.icon {
    display: inline-block;
    width: .9em;
    height: .9em;
    margin-right: 0rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
} .icon.big {
    width: 2em;
    height: 2em;
}

.big {
    font-size: 1.5em;
}

.huge {
    font-size: 4em;
}